article {
  @apply text-14 leading-22;

  & h1, & h2, & h3, & h4, & h5, & h6, & p, & a, & div, & span, & img {
    @apply mb-10;
    &:last-child {
      @apply mb-0;
    }
  }

  & h1 {
    @apply text-orange text-34 underline leading-40;
  }
  & a {
    @apply text-orange underline;
  }

}
